<html lang='en'>

    <head>
        {{>headerlinks}}
    </head>

    <body>
        {{>navbar}}
        
        <!-- main header -->
        <div class='container-fluid main_header'>
            <div class='row'>
                <div class='col-md-10 col-12 mx-auto'>
                    <div class='row'>
                        <!-- right div -->
                        <div
                            class='col-md-6 col-12 main_header_right about-img'
                        >
                            <figure>
                                <img
                                    src='images/about.png'
                                    alt='Meet'
                                    class='img-fluid'
                                />
                            </figure>
                        </div>
                        <!-- left div -->
                        <div class='col-md-6 col-12 main_header_left'>
                            <p>Welcome to weather app</p>
                            <h1>I am a
                                <span class='text-color'>MERN stack developer</span>
                                Youtuber and freelancer</h1>
                            <a href='/'><button class='btn'>Home</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- footer code -->
        {{>footer}}
    </body>

</html>